.home-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:3rem;
  
  
}
.custom-hr{
  width: 90%;       /* line width */
  margin: 20px auto; 
  color: #5A3E1B;
}
  
  .home-heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: black;
    text-decoration: underline goldenrod 3px;
    
    text-align: center;
}
.newdiv > p{
    margin-top: 2rem;
}
  
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
        width: 100%;
   
    padding: 1rem;
}
  
@media (max-width: 900px) {
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
}
  
}

.filter-section2 {
  display: flex;
  padding-right: 20px;
text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  padding-left: 20px;
margin-bottom: 50px;
padding-bottom: -30px;
 
}