.payment-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: -50px;
  }
  .payments{
    padding-top: 50px;
  }
  
  .payment-container > * {
    display: flex;
    justify-content: center;
    gap: 1rem; 
  }
  
  .payment-go-back,
  .payment-btn {
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .payment-go-back {
    color: #6c757d;
    background-color: #f8f9fa;
    border: 1px solid #6c757d;
  }
  
  .payment-go-back:hover {
    background-color: #6c757d;
    color: white;
  }
  
  .payment-btn {
    color: black;
    background-color: #99cc33;
    border: none;
    font-weight: 700;
  }
  
  .payment-btn:hover {
    background-color:#063c28;
    color: white;
  }
  

  @media (min-width: 768px) {
    .payment-container {
      flex-direction: row; 
      gap: 2rem; 
    }
  }
  