.shipping-form-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
   }
   
   .shipping-form-header {
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
   }
   
   .shipping-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
   }
   
   @media (max-width: 768px) {
    .shipping-form {
      grid-template-columns: 1fr 1fr;
      display: flex;
      flex-direction: column;
    }
   }
   
   .shipping-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
   }
   
   .shipping-form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
   }
   
   .shipping-form-group label {
    color: black;
    font-size: 15px;
    font-weight: 500;
   }
   
   .shipping-form-group input,
   .shipping-form-group select {
    padding: 12px 16px;
    border: 1px solid #6c80d87d;
    border-radius: 8px;
    background: transparent;
    color: #4c4d51;
    font-size: 15px;
    transition: all 0.2s ease;
   }
   
   .shipping-form-group input:focus,
   .shipping-form-group select:focus {
    outline: none;
    border-color: #6c7fd8;
    box-shadow: 0 0 0 3px rgba(108, 91, 123, 0.2);
   }
   
   .shipping-form-group input::placeholder {
    color: black;
    opacity: 0.7;
   }
   
   .shipping-submit-btn {
    grid-column: 1 / -1;
    padding: 14px;
    background: #99cc33;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 20px;
   }
   
   .shipping-submit-btn:hover {
    background: #063c28;
    color: white;
   }
   

   select::-webkit-scrollbar {
    width: 8px;
   }
   
 
   
   select::-webkit-scrollbar-thumb {
    
    border-radius: 4px;
   }