


.logo-wrapper {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}


.logo-title {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 900;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #ffcc33; 
  transition: color 0.3s ease;
}


.logo-ak {
  font-size: clamp(1.8rem, 4.8vw, 2.7rem);
  color: #99cc33; 
  transition: color 0.3s ease;
}


.logo-title:hover {
  color: #99cc33;
}

.logo-title:hover .logo-ak {
  color: #ffcc33;
}
