
  .star {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    color: rgb(204, 175, 13);
  }
  
  .star.filled {
    color: gold; 
  }
  
  .star.empty {
    color: #ababab; 
  }
  
  .star:hover {
    transform: scale(1.2); 
    color: goldenrod; 
  }
  
  .productCardSpan {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    color: black;
    margin-left: 0.5rem;
  }
  