.create-product-container {
  max-width: 600px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: #fcf0e4;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input,
.form-select,
.form-input-file {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  background-color: white;
}

.form-input:focus,
.form-select:focus {
  border-color: #6c7fd8;
  outline: none;
}

.form-select {
  cursor: pointer;
}

.file-input-container {
  display: flex;
  flex-direction: column;
}

.image-preview-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 30px;
}

.submit-btn {
  padding: 12px;
  background-color:#99cc33;
  color: black;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color:#063c28;
  color: white;
}

.submit-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .create-product-container {
    padding: 15px;
  }

  .form-title {
    font-size: 1.5rem;
  }

  .product-form {
    gap: 10px;
  }
}
