
.profile-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    transition: #ffcc33 0.3s ease;
    margin-right: 40px;
    margin-bottom: 5px;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    
    object-fit: cover;
    border: 2px solid #5A3E1B;
}



.menu-options {
    padding: 15px;
    border-radius: 8px;
    position: fixed;
    top: 55px; 
    right: 20px;
    width: 150px;
    z-index: 1000;
}

.menu-option-btn {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffcc33;
    color: #063d29;
    font-size: 16px;
    cursor: pointer;
    transition: #063c28 0.3s ease;
    
}

.menu-option-btn:hover {
    background-color: goldenrod;
    color: #063c28;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    z-index: 999;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s 0s;
}
.cart-not-empty {
    background-color: #ffcc33;
    color: #063d29;
    font-weight: 700;
  }
@media (max-width: 1400px) {
  
    .profile-header {
        right: -50px;
    }
   
    .menu-options {
        top: 50px; 
        right: -10px;
    }
  }
  @media (max-width: 780px) {
  

    .profile-header {
        top: 5px;
        right: -40px;
    }
    
    .profile-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
    }
    
  
    
  }